
$primary-blue-color: #30B6FC;
$primary-cyan-color: #52FFFFFF;
$primary-green-color: #00F6B9;
$primary-red-color: #F65C6B;

$secondary-blue-color: #4E5BFC;
$secondary-green-color: #98D265;

$primary-text-color: #fff;

$base-background-color: #16103A;
$base-card-background: #272953;

$primary-border-color: #9293A8;

$font-weight-thin: 300;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
